@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg, #323232, #0a0a0a);
  height: 100vh;
  color: #fafafa; }

.container {
  width: 100%;
  max-width: calc(((100vh - 10px)/7)*4);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "fecha fecha fecha" "monto monto monto" "b1 b2 b3" "b4 b5 b6" "b7 b8 b9" "bPunto b0 bb" ". ok .";
  align-items: center;
  justify-items: center; }
  .container .fecha {
    grid-area: fecha; }
  .container .monto {
    grid-area: monto; }
  .container .b1 {
    grid-area: b1; }
  .container .b2 {
    grid-area: b2; }
  .container .b3 {
    grid-area: b3; }
  .container .b4 {
    grid-area: b4; }
  .container .b5 {
    grid-area: b5; }
  .container .b6 {
    grid-area: b6; }
  .container .b7 {
    grid-area: b7; }
  .container .b8 {
    grid-area: b8; }
  .container .b9 {
    grid-area: b9; }
  .container .bPunto {
    grid-area: bPunto; }
  .container .b0 {
    grid-area: b0; }
  .container .bb {
    grid-area: bb; }
  .container .ok {
    grid-area: ok; }
  .container .monto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #464646;
    border-radius: 5px;
    padding: 10px; }
    .container .monto p {
      width: 100%;
      text-align: right;
      font-size: calc(((100vh - 10px)/7)/3);
      padding-right: 5px; }
    .container .monto .aj {
      padding: 1.1vh 0 0.9vh 0;
      font-size: calc(((100vh - 10px)/7)/3.5); }
  .container .bot {
    width: calc((100vh - 10px)/7);
    height: calc((100vh - 10px)/7);
    background-color: #323232;
    color: white;
    font-weight: 900;
    font-size: calc(((100vh - 10px)/7)/2.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 2px; }
    .container .bot:hover {
      background-color: #646464; }
  .container .sim {
    background-color: #464646;
    font-size: 20px; }
  .container .ok {
    background-color: #fafafa;
    color: #323232;
    font-size: 30px;
    padding-top: 3px; }
  .container .fecha {
    font-size: calc(((100vh - 10px)/7)*4/30); }
