@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(-45deg,  rgb(50, 50, 50), rgb(10, 10, 10));
    height: 100vh;
    color: rgb(250, 250, 250);
    user-select: none;
}

.off{
    display: none !important;
}

@import './parts/menu';
@import './parts/_variables';
@import './parts/_botonera';
@import './parts/origen';
@import './parts/categorias';
@import './parts/gastoOK';