.categSection{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    h2{
        font-size: 2rem;
        width: 35rem;
        text-align: center;
        border-bottom: 1px solid rgb(50, 50, 50);
        padding: 2rem;
    }
    .categList{
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .cat{
        background-color: rgba(0, 0, 0, 0);
        border-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .catIcon{
            width: 8rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
            i{
                color: white;
                font-size: 4rem;
            }
        }
        .catName{
            font-size: 2rem;
            padding: .5rem;
        }
        .catGasto{
            font-size: 1.5rem;
            padding: 0.1rem;
            font-weight: 900;
        }
        .catPpto{
            font-size: 1rem;
            padding: 0.1rem;
        }
        button{
            width: 8rem;
            height: 14rem;
            position: absolute;
            border-style: none;
            background-color: rgba(0, 0, 0, 0);
            &:hover{
                cursor: pointer;
            }
        }
    }
}