.gastoOkSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .cargaOK{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        background-color: green;
        border-radius: 50%;
        animation: mymove 2.5s none;
        i{
            color: white;
            font-size: 5rem;
        }
    }
}

@keyframes mymove {
    0% {
        width: 10rem;
        height: 10rem;
        opacity: 0%;
    }
    30% {
        width: 10rem;
        height: 10rem;
        opacity: 100%;
    }
    40% {
        width: 8rem;
        height: 8rem;
        opacity: 100%;
    }
    50%{
        opacity: 100%;
    }
    100% {
        width: calc(200vh + 200vw);
        height: calc(200vh + 200vw);
        opacity: 0;
    }
  }