$dimBot: calc((100vh - 10px)/7);
$fontSize: calc(((100vh - 10px)/7)/2.1);
$fontSizeDisp: calc(((100vh - 10px)/7)/3);
$fontSizeDispIco: calc(((100vh - 10px)/7)/3.5);
$maxWidth: calc(((100vh - 10px)/7)*4);
$fontSizeDate: calc(((100vh - 10px)/7)*4/30);