$dimBot: calc((100vh - 10px)/8);
$fontSize: calc(((100vh - 10px)/8)/2.1);
$fontSizeDisp: calc(((100vh - 10px)/8)/3);
$fontSizeDispIco: calc(((100vh - 10px)/8)/3.5);
$maxWidth: calc(((100vh - 10px)/8)*4);
$fontSizeDate: calc(((100vh - 10px)/8)*4/30);