$dimBot: calc((100vh - 1rem)/8);
$fontSize: calc(((100vh - 1rem)/8)/2.1);
$fontSizeDisp: calc(((100vh - 1rem)/8)/3);
$fontSizeDispIco: calc(((100vh - 1rem)/8)/2.5);
$maxWidth: calc(((100vh - 1rem)/8)*4);
$fontSizeDate: calc(((100vh - 1rem)/8)*4/30);